.slide{
    display: none;
    height: 70vh;
    width: fit-content;
    margin: auto;
}

.homepage *{
    text-align: center;
    background-color: #0000;
}
.desc{
    text-align: center;
    background-color: #0000;
}

@media screen and (max-width: 800px) {
    .slide {
        min-height: 60vh;
        display: none;
        height: fit-content;
        width: 100vw;
        margin: auto;
    }
    .desc{
        position: absolute;
        bottom:10px;
        text-align: center;


    }
    .desc h3{
        margin: auto;
        display: block;
    }

}