*{
  margin: 0;
  padding: 0;
}
/* header and logo start  */
.image-logo{
  width: 100%;
  height: 10vh;
  background-image: url(/assets/img/tea_garden.jpg);
  background-position: right top 446px;
} 
.header-content{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  display: block;
  color: white;
  margin-top: -40px;
}
.assoc-logo{
  padding: 2px 0px 0px 20px;
  margin-top: 0px;
}
/* header and logo end  */

/* navbar start  */

/*-----------just navbar start-------------*/
#navbar{
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.navbar{
  background-color: rgba(82,152,78,1);
  padding: 10px 0px 10px 0px;
}
/*-----------just navbar end-------------*/

/*-------menu list of navbar start ------*/
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  /* margin: 0px 10px 0px 20px; */
  list-style: none;
  font-size: 20px;
  padding: 0px 10px 0px 10px;
}
.menu-list li a{
  text-decoration: none;
  color: white;
}
/*-------menu list of navbar end ------*/

/*-----hover for menu list items -----*/
.menu-list li a:hover{
  background-color: rgb(81, 190, 190);
  padding: 6px 9px 6px 9px;
  border-radius: 5px;
  transition: all .4s ease;
}

/*----to make sticky navbar ---------*/
.navbar.sticky{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
}

/*------- cdn font awsome icon start------ */
.icon{
  display: none;
  color: white;
  cursor: pointer;
}
.menu-btn{
  margin-left: 20px;
  color: white;
}
.menu-list .cancel-btn{
  position: absolute;
  top: 3%;
  left: 210px;
}
/*------- cdn font awsome icon end------ */

/* for hidden menu btn  */
.menu-btn.menu-btn-hide{
  visibility: hidden;
  /* opacity: 0; */
}

/* for showing menu list in responsive */
.navbar .menu-list.active{
  left: 0%;
}
.navbar .account.active{
  left: 0%;
}


@media (max-width:868px){
  /* showing icon  */
  .icon{
      display: block;
  }
  /* responsive sticky navbar  */
  .navbar.sticky{
      position: fixed;
      top: 0%;
      left: 0%;
      padding-bottom: 20px;
      width: 100%;
      /* transition: all .3s ease; */
  }
  .menu-list li{
      margin: 0px 10px 0px 10px;
      list-style: none;
      font-size: 20px;
      padding: 10px 5px 5px 5px;
  }
  .menu-list li a:hover{
      background-color: rgb(81, 190, 190);
      padding: 6px 9px 6px 9px;
      border-radius: 5px;
      transition: all .4s ease;
  }
  .navbar .menu-list{
      display: block;
      position: fixed;
      top: 62px;
      left: -100%;
      text-align: center;
      width: 100%;
      max-width: 220px;
      height: 330px;
      z-index: 1;
      background-color: rgba(82,152,78,1);
      /* border-radius: 0px 0px 30px 0px; */
      padding: 20px 20px 20px 20px;
  }
  .navbar .account{
    display: block;
    position: fixed;
    top: 432px;
    left: -100%;
    text-align: center;
    width: 100%;
    max-width: 220px;
    height: 40px;
    background-color: rgba(82,152,78,1);
    border-radius: 0px 0px 30px 0px;
    padding: 20px 20px 20px 20px;
  }
}

/*-----------dropdown menu list items start-------------*/
.udropdown {
  position: relative;
  display: inline-block;
}
span{
  color: white;
}
span:hover{
  background-color: rgb(81, 190, 190);
  padding: 6px 9px 6px 9px;
  border-radius: 5px;
  transition: all .4s ease;
}
.udropdown-content {
  display: none;
  position: absolute;
  background-color: #23b87a;
  min-width: 50px;
  border-radius: 7px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  transition: all .4s ease;
  cursor:pointer;
}
.udropdown-content li{
  padding: 5px 5px 5px 5px;
}
.udropdown:hover .udropdown-content {
  display: block;
}
/*-----------dropdown menu list items end-------------*/

/* register and login btn  */
.signup-btn{
  background-color: #68a990;
      border-radius: 8px;
      border: #68a990 1px solid;
      margin-right: 8px;
      font-size: 18px;
      font-family: monospace;
      padding: 3px 10px 3px 10px;
      color: white;
      width: max-content;
      
}

/* navbar end  */